body {
	line-height: 1.5;
	font-family: Arial, Helvetica, sans-serif;
	color: #333;
	background-color: #fff;
	margin: 0;
	padding: 0;
	font-size: 105%;
}
a {
	color: #17d;
	text-decoration: none;
}
a:hover {
	color: #29f;
	text-decoration: underline;
}
p {
	margin: 0.3em 0;
}
h1 {
	text-align: center;
	margin: 0.6em 0 0.3em;
}
h2 {
	text-align: center;
	margin: 0.6em 0 0.3em;
}
ul, ol {
	margin: 0.3em 0;
}
dt {
	font-weight: bold;
	margin: 0.5em 0 0.2em;
}
#header {
	margin: 8px;
	padding: 0;
}
#footer {
	margin: 16px auto;
	padding: 0;
	max-width: 56em;
	text-align: center;
	font-size: small;
}
#content {
	margin: 0;
	padding: 16px;
	background-color: #f0f2f6;
}

.subtitle {
	margin-top: -.5em;
	text-align: center;
	font-size: small;
}

#column {
	margin: 0 auto;
	max-width: 56em;
}
#column table {
	margin: 0.5em auto;
	border-collapse: collapse;
}
#column td {
	border: 2px solid #f4f4f6;
	padding: 4px 8px;
	background-color: #fff;
}
#column pre {
	margin: 0;
	font-family: monospace;
	font-size: 95%;
}
img.icon {
	vertical-align: middle;
}

